
body {
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(184, 184, 184));

    color:white;
}

.gornji{
    background-image:linear-gradient(to left, rgb(0, 0, 0) , rgb(75, 75, 75)) ;
    text-align:center;
}
.navig{
    padding:40px;
    list-style-type:none;
    max-width: 10%;
    position: fixed;
    background-image: Radial-gradient(rgb(160, 158, 158) , rgb(51, 51, 51));;
    
    
}
.vl {
    
    height:100% ;
  }
  .slika{

    width:520px; 
    height:360px;

    border-style: solid;
    border-color:#7c0f0f;
}
.drugi{
    padding-left:100px; 
    padding-top: 100px;
}
.jedinica{
    padding-top: 100px;
    padding-right:200px; 
    text-align: left;
}
.dvojka{
    padding-right:200px; 
   text-align: left;
   margin-left: 50%;
}
.trojka{
    padding-top:100px;
    padding-right:200px; 
   text-align: left;
   margin-left: 50%;
   padding-bottom: 100px;
}
a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: underline;
  }
  a{
    font-size: 26px;
}